.house {
  position: absolute;
}

.back-to-home {
  margin-top: 1.5rem;
  margin-left: 2rem;
  border-radius: 16px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  color: white;
  position: absolute;
  z-index: 10;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.back-to-home:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.house-subtitle {
  position: absolute;
  z-index: 3;
  color: #483c2b;
  left: -200;
  opacity: 0.9;
  top: -14px;
}
.house.zoom {
  transform: scale(4);
  transition: transform 4s ease;
}
