@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*sections*/
@import url('./house-section.css');
@import url('./grass-section.css');
@import url('./trees-section.css');
@import url('./wood-section.css');
@import url('./bg-effects.css');

:root {
  --font-family: 'Open Sans', sans-serif;
  --text-color: white;
  --title-font-size: 7rem;
  --paragraph-font-size: 1.5rem;
  --padding: 2rem;
  --opacity: 0.9;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px; /* tamaño base */
}

.main-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s ease;
  position: relative;
}

.bg-section {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.zoom {
  position: relative;
}

.container-text {
  position: absolute;
  padding: var(--padding);
}

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--text-color);
  left: 7px;
  opacity: var(--opacity);
  top: -23px;
}

.paragraph {
  font-size: var(--paragraph-font-size);
  color: var(--text-color);
  left: 7px;
  opacity: var(--opacity);
  top: -23px;
  padding: var(--padding);
}

.absolute {
  position: absolute;
}

@media (max-width: 600px) {
  .title {
    font-size: 3.8rem;
  }
  .paragraph {
    font-size: 1rem;
  }
}
/* Estilo para la barra de progreso */
input[type='range'] {
  -webkit-appearance: none; /* Elimina el estilo predeterminado en WebKit */
  width: 100%; /* Ancho completo */
  height: 8px; /* Altura de la barra */
  background: #ddd; /* Color de fondo */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el "thumb" de la barra de progreso */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Elimina el estilo predeterminado en WebKit */
  appearance: none; /* Elimina el estilo predeterminado en otros navegadores */
  width: 16px; /* Ancho del "thumb" */
  height: 16px; /* Altura del "thumb" */
  border-radius: 50%; /* Hacerlo redondo */
  background: #2a1401; /* Color del "thumb" */
  cursor: pointer; /* Cambia el cursor al pasar */
  border: solid 1px #ddd;
}

input[type='range']::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(33, 17, 5);
  cursor: pointer;
  border: solid 1px #ddd;
}
